<table class="table">
    <tr>
        <th>类别</th>
        <th>编码</th>
        <th>标签</th>
        <th>描述</th>
        <th>顺序</th>
        <th>操作</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="category in categories">
        <td>{{category.category}}</td>
        <td>{{category.code}}</td>
        <td>{{category.label}}</td>
        <td>{{category.desc}}</td>
        <td>{{category.order}}</td>
        <td><a href="#" ng-click="update()">更新</a></td>
        <td><a href="#" ng-click="delete()">删除</a></td>
    </tr>
</table>