<form class="form-horizontal" role="form">
    <div class="form-group">
        <legend><h4>添加代理店</h4></legend>
    </div>

    <div class="form-group">
    	<label for="name" class="col-sm-2 control-label">名称</label>
    	<div class="col-sm-4">
    		<input type="text" name="name" id="name" class="form-control" />
    	</div>
    </div>

    <div class="form-group">
        <label for="abbreviation" class="col-sm-2 control-label">简称</label>
        <div class="col-sm-4">
            <input type="text" name="abbreviation" id="abbreviation" class="form-control" />
        </div>
    </div>

    <div class="form-group">
    	<label for="province" class="col-sm-2 control-label">省:</label>
    	<div class="col-sm-4">
    		<select name="province" id="province" class="form-control">
                <option value=""> -- Select One -- </option>
            </select>
    	</div>
    </div>

    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">市:</label>
        <div class="col-sm-4">
            <select name="city" id="city" class="form-control">
                <option value=""> -- Select One -- </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="area" class="col-sm-2 control-label">区:</label>
        <div class="col-sm-4">
            <select name="area" id="area" class="form-control">
                <option value=""> -- Select One -- </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">电话</label>
        <div class="col-sm-4">
            <input type="text" name="phone" id="phone" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="mail" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-4">
            <input type="text" name="mail" id="mail" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="site" class="col-sm-2 control-label">网址</label>
        <div class="col-sm-4">
            <input type="text" name="site" id="site" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-success" ng-click="create()">添加</button>
            <button type="submit" class="btn btn-success" ng-click="back()">返回</button>
        </div>
    </div>
</form>