<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="SysUsers" type="cn.com.fero.p2p.model.SysUsers"/>
        <typeAlias alias="SysRoles" type="cn.com.fero.p2p.model.SysRoles" />
        <typeAlias alias="SysPermissions" type="cn.com.fero.p2p.model.SysPermissions" />
        <typeAlias alias="SysUsersRolesKey" type="cn.com.fero.p2p.model.SysUsersRolesKey" />
        <typeAlias alias="SysRolesPermissionsKey" type="cn.com.fero.p2p.model.SysRolesPermissionsKey" />
        <typeAlias alias="SysUsersPermissionsKey" type="cn.com.fero.p2p.model.SysUsersPermissionsKey" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="initial_context" value="java:comp/env"/>
                <property name="data_source" value="jdbc/twdpm"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="cn/com/fero/p2p/persist/config/AAthMapper.xml" />
    </mappers>

</configuration>