<form class="form-horizontal" role="form">
    <div class="form-group">
        <legend>更新用户情报</legend>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label text-right">用户名</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" placeholder="用户名" ng-model="customer.name">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label text-right">邮箱</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="email" placeholder="邮箱" ng-model="customer.email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-success" ng-click="save()">更新</button>
            <button type="submit" class="btn btn-success" ng-click="back()">返回</button>
        </div>
    </div>
</form>