<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>服务代码</th>
        <th>名称</th>
        <th>简称</th>
        <th>描述</th>
        <th>开放性</th>
        <th>
            <a class="btn btn-sm btn-success" ui-sref="dashboard.service.add">创建服务商</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="service in services">
        <td>{{service.code}}</td>
        <td>{{service.name}}</td>
        <td>{{service.shortName}}</td>
        <td>{{service.description}}</td>
        <td>{{service.accessibility}}</td>
        <td>
            <a class="btn btn-sm btn-danger" ng-click="delete(service._id)">删除</a>
            <a class="btn btn-sm btn-default" ng-click="edit(service._id)">编辑</a>
        </td>
    </tr>
    </tbody>
</table>