<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Portal</title>
    <link href="js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
    <link href="js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body class="container" ng-controller="LoginController">
<form name="loginForm">
    <input type="text" class="form-control" ng-model="user.username"/>
    <input type="text" class="form-control" ng-model="user.password"/>
    <button ng-click="user.validate()">TestRest</button>
</form>
<script data-main="js/main" src="js/bower_components/requirejs/require.js"></script>
</body>
</html>
