<form class="form-horizontal">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="username" ng-model="user.username"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="password" ng-model="user.password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-primary btn-block btn-flat" ng-click="login()">Sign In</button>
        </div>
    </div>
</form>